div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
  overflow-wrap: normal;
  word-wrap: normal;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  page-break-inside: avoid;
}
html, body, *, ::before, ::after  {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a,input,button,textarea {
  transition: all ease .3s;
}
.sr, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  color: #fff;
  background: #000;
  display:inline-block;
}
body {
	font-family: $font_primary;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.02em;
  color: $color_text_main;
  background: #EFEFEF;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font_secondary;
  font-weight: 300;
  line-height: 1.2;
}
h2 {font-size: 42px;}
h3 {font-size: 38px;}
h4 {font-size: 35px;}
h5 {font-size: 30px;}
h6 {font-size: 28px;}

.site {
	position: relative;
  overflow: hidden;
}

.skip-link {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  color: #FFF;
  background: #000;
  border-radius: 6px;
  position: absolute;
  top: -80vh;
  left: 10px;
  box-shadow: 0 5px 16px rgba(0,0,0,0.25);
  z-index: -999;
  opacity: 0;
  &:focus {
    top: 10px;
    z-index: 9999;
    opacity: 1;
  }
}

div.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
	&.align-left {
		justify-content: flex-start;
	}
	&.align-right {
		justify-content: flex-end;
	}
	&.align-center {
		justify-content: center;
	}
  .button {
		appearance: none;
    display: inline-block;
    text-decoration: none;
    appearance: none;
    border: none;
    padding: 18px 30px 13px;
    border-radius: 0;
    min-width: 120px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-family: $font_primary;
    font-size: 16px;
		line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    overflow: hidden;
    position: relative;
    transition: all ease .3s;
    z-index: 2;
    &.btn-wide {
      padding: 12px 15px;
      min-width: 250px;
    }
    &:hover, &:focus {
      outline: none;
      background-color: $primary;
      color: #000;
    }
  }
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flexwrap {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: transparent;
	.flexwrap {
		align-items: center;
		justify-content: space-between;
	}
	.site-logo {
		display: inline-block;
		width: 160px;
		a, img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.main-navigation {
		ul.menu {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 2.75rem;
			list-style: none;
			margin: 0 0;
			a {
				display: block;
				text-decoration: none;
				transition: all ease .3s;
			}
			> li > a {
				font-size: 13px;
				font-weight: 700;
				line-height: 1.2;
				text-transform: uppercase;
				color: #000;
				text-decoration: none;
			}
		}
	}
}

.menu-toggle {
	appearance: none;
	display: block;
	position: relative;
	width: 40px;
	height: 38px;
	z-index: 503;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0 0;
	margin: 3px 0 0;
	span.bar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 15px;
	}
	span.bar, span.bar:before, span.bar:after {
		display: inline-block;
		height: 3px;
		transition: all ease-in-out .3s;
		background: #000;
		border-radius: 100px;
	}
	span.bar:before, span.bar:after {
		width: 25px;
		transition: all ease .3s;
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -8px;
	}
	span.bar:after {
		top: 8px;
	}
	&:hover, &:focus {
		span.bar:before, 
		span.bar:after {
			transform: scaleX(0.5);
		}
	}
}


.mobile-primary-navigation {
	display: none;
}

.site-content {
	min-height: 30em;
}